html {
  overflow-y: scroll; /* force display of vertical scrollbar */
  height: 101%;       /* enable vertical scrollbar (even when content fits in window) */
}

body {
  background-color: #f7f7f7;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

.navbar-search .search-query {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

.didascalie-base {
  font-size: 12px;
}

.didascalie-ext {
  font-size: 11px;
}

.didascalie-url {
  font-size: 11px;
  color: rgb(160, 160, 160);
}

.icon-globe {
  opacity: .3;
  cursor: pointer;
}

.box:hover div span i.icon-globe {
  opacity: .8;
}

header  {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 20px;
  background: #eee;
}

section#content {
  /* padding-bottom: 120px; */
}

footer  {
  position:fixed;
  bottom:0;
  left:0;
  width: 100%;
  background: rgb(212, 212, 212);
}

footer #next {
  width: 100%;
  border-style: none;
}

.navbar .brand {
  font-family: 'ParmaPetit';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: SteelBlue;
}

.navbar-search {
  position: relative;
}

.navbar-search .search-query {
  padding-left: 28px;
  padding-right: 28px;
}

#icon-search {
  cursor: pointer;
}

#icon-remove {
  cursor: pointer;
}

#photos_container {
  background: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  clear: both;
}

.centered { 
  margin: 0 auto; 
}


/**** Transitions ****/
.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
      -ms-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}

/**** Clearfix ****/
/*
*/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.box {
  margin: 5px 0 0 5px;
  padding: 5px;
  background: #fff;
  border: solid 1px #d7e1ee; /* http://www.color-hex.com/color/b0c4de */
  font-size: 12px;
  line-height: 1.4em;
  float: left;
  max-width: 274px;
  opacity: 0;
  /* visibility: hidden; */
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.box img.box_img {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.permanentBox {
  margin: 5px;
  padding: 5px;
  background: #fff;
  border: solid 1px #d7e1ee; /* http://www.color-hex.com/color/b0c4de */
  font-size: 12px;
  line-height: 1.4em;
  /* visibility: hidden; */
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.iconLinks {
  position:relative; 
  float: right; 
  right:0;
}

.icon-star-empty {
  opacity: 0.2;
}

